.toprow {
  width: auto;
  height: auto;
  animation-name: title;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}
@keyframes title {
  0% {
    color: #fff5d9;
  }
  25% {
    color: yellow;
  }
  50% {
    color: pink;
  }
  75% {
    color: #bedbff
  }
  100% {
      color: #87de6a;
  }
