/* The animation code */
@construction example {
  from {width: 0px;}
  to {width: 300px;}
}

/* The element to apply the animation to */
p4 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
