@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap");

html {
  color: black;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  line-height: 1.5;
  opacity: 100%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
}

a:link {
  color: black;
  background-color: rgba(0, 255, 0, 0.83); /*green*/
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: rgba(0, 255, 0, 0.83); /*green*/
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: rgba(255, 0, 255, 0.83); /*purple*/
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: rgba(0, 255, 0, 0.83); /*green*/
  text-decoration: underline;
}


/*artist statement*/
h1 {
  color: white;
  background-color: rgba(0, 64, 255, 0.83); /*blue*/
  width: 350px;
  font-size: 30px;
}

/*catisartist*/
h2 {
  background-color: rgba(0, 255, 255, 0.83); /*cyan*/
  width: 205px;
  font-size: 30px;
  color: black;
}

/*individual titles*/
h7 {
  color: white;
  background-color: rgba(0, 64, 255, 0.83); /*blue*/
  font-size: 30px;
  height: 90px;
  max-width: 875px;
}

/*debtween gallery piece toggle*/
h9 {
  text-align: right;
}

p {
  background-color: rgba(255, 255, 0, 0.83); /*yellow*/
  max-width: 1050px;
}

/*sub head*/
p2 {
  background-color: rgba(255, 69, 0, 0.83); /*orange*/
  width: 30%;
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.ba-oi-vid {
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

/*aka individual piece gallery*/
.decisisions {
  max-width: 55%;
  /*top, right, bottom, left*/
  margin: 10%, 10%, 10%, 15%;
  padding: 5%, 5%, 5%, 5%;
  grid-template-columns: 1000px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.digitalmedia {
  background-image: url("digitalmedia.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
}

.gallery {
  max-width: 55%;
  /*top, right, bottom, left*/
  margin: 10%, 10%, 10%, 15%;
  padding: 5%, 5%, 5%, 5%;
  grid-template-columns: 250px 250px 250px 250px;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.home {
  background-image: url("home.gif");
  background-position: left top;
  background-repeat: repeat-y repeat-x;
  background-color: rgba(147, 112, 219, 1);
  background-size: 50%;
}

.overlooked {
  justify-content: flex-start;
}

.sketchfab-embed-wrapper {
  width: 640px;
  height: 480px;
  background-color: black;
}

.statement {
  background-image: url("statement.png");
  background-blend-mode: luminosity;
}

.traditional {
  background-image: url("traditional.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .gallery {
    grid-template-columns: 250px 250px 250px;
  }
  .home {
    background-image: url("home.gif");
    background-position: left top;
    background-color: rgba(147, 112, 219, 1);
    background-size: 100%;
  }
  .decisisions {
    grid-template-columns: 800px;
  }
}

@media only screen and (max-width: 900px) {
  .gallery {
    grid-template-columns: 250px 250px;
  }
  p {
    background-color: rgba(255, 255, 0, 0.83);
    max-width: 650px;
  }
  .decisisions {
    grid-template-columns: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .gallery {
    grid-template-columns: 250px;
  }
  .decisisions {
    grid-template-columns: 340px;
  }
  html {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
