@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap");

html {
  color: #fff5d9;
  background-color: /*#7e5f32*/black;
  font-family: 'Press Start 2P', cursive;
  font-size: 7px;
  line-height: 1.5;
}

/* unvisited link*/
a:link {
  color: #bedbff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #bedbff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: yellow;
  text-decoration: none;
}

/* selected link */
a:active {
  color: yellow;
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 9px;
  text-align: center;
}

h3 {
  font-size: 10px;
  text-align: center;
  #87de6a;
}

p {
  font-size: 12px;
  width: 90%;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5;
}

p1 {
  font-size: 13px;
  width: 100%;
  text-align: center;
  color: pink;
}

p2 {
  color: yellow;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 80%;
  justify-content: center;
  padding:0% 10% 0% 10%;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  /*top, right, bottom, left*/
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90%;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  justify-content: center;
  padding:0% 5% 0% 5%;
  /*top, right, bottom, left*/
}

.statement {
  float: left;
  height: 500px;
  padding-left: 5%;
  padding-right: 15px;
  position: relative;
  padding-bottom: 15px;
}

.main {
  text-align: center;
}

.boxed {
  border: 5px /*solid #fff5d9*/;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15%;
}

.boxed2 {
  border: 2.5px solid #bedbff;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.img2 {
  max-width: 20%;
  max-height: 20%;
}

.container {
  color: /*#fff5d9*/pink;
  font-size: 10px;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid /*black #fff5d9*/pink;
  margin-left: 15%;
  margin-right: 25%;
  text-align: left;
}

.container2 {
  color: yellow;
  text-align: center;
  border: 2px solid /*black #fff5d9*/pink;
  font-size: 7px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 2%;
}

.gallery {
  width: 60%;
  /*margin-left: 20%;
  margin-right: 20%;*/
  padding-left: 20%;
  padding-right: 20%
  text-align: center;
}

.gallery2 {
  width: 80%;
  /*margin-left: 20%;
  margin-right: 20%;*/
  padding-left: 10%;
  padding-right: 10%
  text-align: center;
}

.toprow {
  text-align: center;
  padding-top: 0%;
  width: 60%;
  margin: auto;
}

.topnav {
  text-align: center;
  display: inline-block;
  padding: .1%;
  border: 1px solid #bedbff;
}

@media only screen and (max-width: 300px) {
  .grid-container1 {
    display: grid;
    grid-template-columns: 85%;
    width: 80%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    justify-content: center;
    padding:0% 10% 0% 10%;
    /*top, right, bottom, left*/
  }
  .grid-container {
    display: grid;
    grid-template-columns: 85%;
    width: 80%;
    justify-content: center;
    padding:0% 10% 0% 10%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    /*top, right, bottom, left*/
  }
  .toprow {
    text-align: center;
    padding-top: 0%;
    width: 450px;
    margin: auto;
  }
  footer {
    /*padding-top: 20%;
    padding-bottom: 0%;*/
    top: 45px;
    color: #87de6a;
    margin:40% 0% 0% 0%; /*top, right, bottom, left*/
    background-color: black;
  }
  footer {
    position: relative;
    top: 45px;
    color: #87de6a;
    padding:0% 0% 2.5% 0%; /*top, right, bottom, left*/
  }
}

footer {
  /*padding-top: 20%;
  padding-bottom: 0%;*/
  position: relative;
  top: 45px;
  color: #87de6a;
  padding:0% 0% 2.5% 0%; /*top, right, bottom, left*/
}
